{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Organise and manage all the places you have visited. </p>
    <p class="box">
      <i class="fas fa-thumbtack"></i>
      <i class="fa-solid fa-globe"></i>
    </p>
  </div>
  <section>
    <figure class="image is-3by1">
      <img src="https://cdn.wallpapersafari.com/10/32/tAhHk2.png">
    </figure>
  </section>
</section>