{{> menu active="dashboard"}}

<section class="section">
  <figure class="image is-3by1">
    <img src="https://previews.123rf.com/images/andreykuzmin/andreykuzmin1409/andreykuzmin140900120/32145142-%EC%84%B8%EA%B3%84%EC%A7%80%EB%8F%84-%EB%B0%B0%EA%B2%BD-%EC%9D%B4%EC%A0%84-%ED%99%A9%EB%8F%99-%EB%98%90%EB%8A%94-%ED%99%A9%EA%B8%88-%EB%82%98%EC%B9%A8%EB%B0%98.jpg">
  </figure>
  {{> list-placemarks}}
  {{> add-placemark}}
</section>
