{{> menu}}

<section class="section">
    <figure class="image is-3by1">
        <img src="https://wallpaperaccess.com/full/199469.jpg">
    </figure>
    <div class="name">
    {{publicPlacemark.name}}
    </div>
    {{> list-reviews}}
    {{> add-review}}
</section>