{{> menu}}

<section class="ui center aligned middle aligned segment">
    <h2 class="ui header">
    <figure class="image is-3by1">
        <img src="https://wallpaperaccess.com/full/199469.jpg">
    </figure>
    {{publicPlacemark.name}}
    </h2>
    <h4> List of Reviews:
    {{> list-reviews}}
    {{> add-review}}
    </h4>
    // noticeboard
</section>