<table class="table is-fullwidth">
    <thead>
    <th>Placemark Notice Board</th>
    </thead>
    <tbody>
        <tr>
            <td>{{publicPlacemark.name}}</td>
            <td> Days of Rain Per year: 152</td>
            <td> Best Months to visit: Sept - October </td>
            <td> Current Covid Restrictions: Mask + Vaccine Mandate </td>
            <td> Average Rating: {{averageReviewRating}}</td>
        </tr>
    </tbody>
</table>